.paragraphs-item-p-hero {
  margin-bottom: 0;

  a.play-video {
    display: block;
    font-size: 0;
    color: #ffffff;
    z-index: 1;
  }

  .field-name-field-p-hero-image {
    background: #01004d;

    img {
      opacity: .4;
    }
  }

  div.group-overlay-text {
    background-color: transparent;
    color: #ffffff;
    bottom: .1em;
    text-align: center;
    top: calc(25% - 40px);
    right: calc(3% - 40px);
    padding: 0;
    width: 100%;

    .group-headline-h2 {
      color: #ffffff;
      margin: 20px 20% 40px;

      a {
        background-color: transparent;
        color: #ffffff;
        padding: 0;
        box-shadow: none;
        margin: 0;

        &:after {
          content: '';
        }

        &.btn-orange {
          -webkit-text-decoration-color: #ffbd54;
          text-decoration-color: #ffbd54;
        }

        &.btn-pink {
          -webkit-text-decoration-color: #FF525C;
          text-decoration-color: #FF525C;
        }

        &.btn-turquoise {
          -webkit-text-decoration-color: #00ECE9;
          text-decoration-color: #00ECE9;
        }
      }

      a.btn:hover {
        color: #ffffff;
      }
    }

    .field-name-field-p-hero-superhead {
      font-size: 1.2em;
      font-weight: 600;
    }

    .field-name-field-p-hero-description {
      font-size: 1.2em;
      line-height: 1.2em;
      margin: 0 calc(20% - 40px) 40px;

      @media (max-width: 1200px) and (min-width: 979px) {
        margin: 0 0 40px;
      }
    }

    .field-name-field-p-hero-description {
      font-size: 1.2em;
      line-height: 1.2em;

      @media (max-width: 1200px) and (min-width: 979px) {
        margin: 0 0 40px;
      }
    }

    .field-name-field-p-hero-more-link {
      margin-top: 60px;
    }

    .btn,
    .btn-orange,
    .btn-pink,
    .btn-turquoise {
      color: #000000;
      font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 1.2em;
      font-weight: 400;
      padding: .8em calc(15% - 40px) .8em;
      text-align: center;
    }
  }
}

.fullwidth .paragraphs-item-p-hero {
  div.group-overlay-text.group-overlay-text {
    top: calc(35% - 40px);
  }
}
