/* line 3, ../scss/stanford_bean_types_featured.scss */
div[class*="featured"] img {
  height: auto;
  object-fit: cover;
  object-position: center center;
  width: 100%; }
/* line 10, ../scss/stanford_bean_types_featured.scss */
div[class*="featured"] a {
  z-index: 20; }
/* line 14, ../scss/stanford_bean_types_featured.scss */
div[class*="featured"] .player {
  padding-bottom: 0;
  height: 100%; }
/* line 19, ../scss/stanford_bean_types_featured.scss */
div[class*="featured"] .entity-paragraphs-item {
  margin-bottom: 0; }

/* line 25, ../scss/stanford_bean_types_featured.scss */
.fullwidth .featured-block {
  margin-left: 0;
  margin-right: 0; }

/* line 30, ../scss/stanford_bean_types_featured.scss */
.featured-block {
  margin-left: 10%;
  margin-right: 10%; }
  @media (max-width: 767px) {
    /* line 30, ../scss/stanford_bean_types_featured.scss */
    .featured-block {
      margin-left: 0;
      margin-right: 0; } }
  /* line 39, ../scss/stanford_bean_types_featured.scss */
  .featured-block.no-margin {
    margin-left: 0;
    margin-right: 0; }

/* line 45, ../scss/stanford_bean_types_featured.scss */
.span6 .featured-block {
  margin-left: 0;
  margin-right: 0; }

/* line 50, ../scss/stanford_bean_types_featured.scss */
.front .block-bean.no-padding.well.featured-block {
  display: inline-block;
  margin: 0;
  width: 100%; }
  /* line 55, ../scss/stanford_bean_types_featured.scss */
  .front .block-bean.no-padding.well.featured-block.top-margin {
    margin-top: 100px; }
  /* line 59, ../scss/stanford_bean_types_featured.scss */
  .front .block-bean.no-padding.well.featured-block.bottom-margin {
    margin-bottom: 100px; }
  /* line 63, ../scss/stanford_bean_types_featured.scss */
  .front .block-bean.no-padding.well.featured-block.span9 {
    width: 74.5%;
    margin-left: 12.75%;
    margin-right: 12.75%; }

/* line 70, ../scss/stanford_bean_types_featured.scss */
.paragraphs-item-p-featured {
  margin-bottom: 0; }
  /* line 73, ../scss/stanford_bean_types_featured.scss */
  .paragraphs-item-p-featured a.play-video {
    color: #ffffff;
    display: block;
    font-size: 0;
    z-index: 3; }
  /* line 80, ../scss/stanford_bean_types_featured.scss */
  .paragraphs-item-p-featured .field-name-field-p-featured-image {
    background: #001933;
    position: relative;
    z-index: 2; }
    /* line 85, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured .field-name-field-p-featured-image img {
      height: auto;
      opacity: .3;
      width: 100%; }
  /* line 92, ../scss/stanford_bean_types_featured.scss */
  .paragraphs-item-p-featured .field-name-field-p-featured-video {
    height: auto;
    position: absolute;
    width: 100%;
    top: -20px;
    z-index: 1; }
  /* line 100, ../scss/stanford_bean_types_featured.scss */
  .paragraphs-item-p-featured div.group-overlay-text {
    background-color: transparent;
    color: #fff;
    display: table;
    float: left;
    height: 100%;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 10%;
    width: 100%;
    z-index: 2; }
    @media (max-width: 979px) {
      /* line 100, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured div.group-overlay-text {
        position: relative;
        width: 100%; } }
    /* line 118, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured div.group-overlay-text > div,
    .paragraphs-item-p-featured div.group-overlay-text > h2 {
      display: table-cell;
      float: left;
      vertical-align: middle;
      width: 100%; }
    /* line 126, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured div.group-overlay-text .group-headline-h2 {
      color: #ffffff;
      font-size: 32px;
      line-height: 1.1em;
      margin: 10px 0 0; }
      @media (max-width: 580px) {
        /* line 126, ../scss/stanford_bean_types_featured.scss */
        .paragraphs-item-p-featured div.group-overlay-text .group-headline-h2 {
          font-size: 24px; } }
      /* line 136, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured div.group-overlay-text .group-headline-h2 a {
        background-color: transparent;
        box-shadow: none;
        color: #fff;
        margin: 0;
        padding: 0;
        -webkit-text-decoration-color: #00ECE9;
        text-decoration-color: #00ECE9; }
        /* line 145, ../scss/stanford_bean_types_featured.scss */
        .paragraphs-item-p-featured div.group-overlay-text .group-headline-h2 a:after {
          content: ''; }
        /* line 149, ../scss/stanford_bean_types_featured.scss */
        .paragraphs-item-p-featured div.group-overlay-text .group-headline-h2 a:hover {
          -webkit-text-decoration-color: white;
          text-decoration-color: white; }
    /* line 156, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-superhead {
      font-size: 18px;
      font-weight: 700; }
      /* line 160, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-superhead a {
        color: #fff;
        text-decoration: underline;
        -webkit-text-decoration-color: #ffbd54;
        text-decoration-color: #ffbd54; }
        /* line 166, ../scss/stanford_bean_types_featured.scss */
        .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-superhead a:hover {
          -webkit-text-decoration-color: white;
          text-decoration-color: white; }
    /* line 173, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-description {
      font-size: 18px;
      line-height: 1.2em;
      margin: 30px 0 0; }
      @media (max-width: 767px) {
        /* line 173, ../scss/stanford_bean_types_featured.scss */
        .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-description {
          margin: 20px 0 20px; } }
      /* line 182, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-description .field-item {
        margin: 0 10%; }
    /* line 187, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-more-link {
      margin-top: 30px; }
      /* line 190, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-more-link a {
        color: #fff;
        text-decoration: underline;
        -webkit-text-decoration-color: #FFBD54;
        text-decoration-color: #FFBD54; }
    /* line 198, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured div.group-overlay-text a.btn-orange,
    .paragraphs-item-p-featured div.group-overlay-text a.btn-pink,
    .paragraphs-item-p-featured div.group-overlay-text a.btn-turquoise {
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      border-radius: 0;
      color: #000;
      display: inline-block;
      font-size: 1.9rem;
      font-weight: 400;
      line-height: 1.2em;
      letter-spacing: 0;
      margin: 0 0 26px;
      padding: 0.8em 1.2em 0.9em;
      text-align: center;
      text-decoration: none; }
      /* line 216, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured div.group-overlay-text a.btn-orange:hover,
      .paragraphs-item-p-featured div.group-overlay-text a.btn-pink:hover,
      .paragraphs-item-p-featured div.group-overlay-text a.btn-turquoise:hover {
        background: #333333;
        color: #fff; }
    /* line 222, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured div.group-overlay-text a.btn {
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      border-radius: 0;
      color: #ffffff;
      font-size: 1.9rem;
      font-weight: 400;
      line-height: 1.2em;
      letter-spacing: 0;
      margin: 0 0 26px;
      padding: 0.8em 1.2em 0.9em;
      text-align: center;
      text-decoration: none; }

/* line 242, ../scss/stanford_bean_types_featured.scss */
.span6 .paragraphs-item-p-featured.has-image .field-name-field-p-featured-image {
  width: 100%; }
/* line 246, ../scss/stanford_bean_types_featured.scss */
.span6 .paragraphs-item-p-featured.has-image .group-overlay-text {
  margin-top: 1%;
  position: relative;
  width: 100%; }
  /* line 251, ../scss/stanford_bean_types_featured.scss */
  .span6 .paragraphs-item-p-featured.has-image .group-overlay-text .field-name-field-p-featured-superhead {
    padding-top: 40px; }
/* line 258, ../scss/stanford_bean_types_featured.scss */
.span6 .paragraphs-item-p-featured.has-video .field-name-field-p-featured-video {
  width: 100%; }
/* line 262, ../scss/stanford_bean_types_featured.scss */
.span6 .paragraphs-item-p-featured.has-video .group-overlay-text {
  margin-top: 1%;
  position: relative;
  width: 100%; }
  /* line 267, ../scss/stanford_bean_types_featured.scss */
  .span6 .paragraphs-item-p-featured.has-video .group-overlay-text .field-name-field-p-featured-superhead {
    padding-top: 40px; }

/* line 275, ../scss/stanford_bean_types_featured.scss */
.paragraphs-item-p-featured.has-image .group-overlay-text {
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media (max-width: 979px) {
    /* line 275, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured.has-image .group-overlay-text {
      left: initial;
      position: relative;
      transform: none; }
      /* line 287, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured.has-image .group-overlay-text .field-name-field-p-featured-superhead {
        padding-top: 20px; }
      /* line 291, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured.has-image .group-overlay-text .group-headline-h2,
      .paragraphs-item-p-featured.has-image .group-overlay-text .field-name-field-p-featured-superhead,
      .paragraphs-item-p-featured.has-image .group-overlay-text .field-name-field-p-featured-description {
        color: #000; }
        /* line 296, ../scss/stanford_bean_types_featured.scss */
        .paragraphs-item-p-featured.has-image .group-overlay-text .group-headline-h2 a,
        .paragraphs-item-p-featured.has-image .group-overlay-text .field-name-field-p-featured-superhead a,
        .paragraphs-item-p-featured.has-image .group-overlay-text .field-name-field-p-featured-description a {
          color: #000; } }

/* line 305, ../scss/stanford_bean_types_featured.scss */
.paragraphs-item-p-featured.has-image.has-video .group-overlay-text {
  background: transparent;
  left: 0;
  position: absolute;
  transform: none; }
  @media (max-width: 979px) {
    /* line 305, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured.has-image.has-video .group-overlay-text {
      margin-top: 1%;
      position: relative;
      width: auto; }
      /* line 316, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-superhead {
        padding-top: 0; } }
  /* line 321, ../scss/stanford_bean_types_featured.scss */
  .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .group-headline-h2,
  .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-superhead,
  .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-description,
  .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-more-link {
    color: #000; }
    /* line 327, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .group-headline-h2 a,
    .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-superhead a,
    .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-description a,
    .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-more-link a {
      color: #000; }
      /* line 330, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .group-headline-h2 a.btn,
      .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-superhead a.btn,
      .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-description a.btn,
      .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-more-link a.btn {
        color: #fff; }

/* line 340, ../scss/stanford_bean_types_featured.scss */
.span6 .paragraphs-item-p-featured.has-image.has-video .field-name-field-p-featured-image,
.span6 .paragraphs-item-p-featured.has-image.has-video .field-name-field-p-featured-video {
  width: 100%; }
/* line 345, ../scss/stanford_bean_types_featured.scss */
.span6 .paragraphs-item-p-featured.has-image.has-video .group-overlay-text {
  background: transparent;
  position: relative;
  width: 100%; }

/* line 353, ../scss/stanford_bean_types_featured.scss */
.paragraphs-item-p-featured.has-video {
  background: #fff; }
  /* line 356, ../scss/stanford_bean_types_featured.scss */
  .paragraphs-item-p-featured.has-video .field-name-field-p-featured-image,
  .paragraphs-item-p-featured.has-video .field-name-field-p-featured-video {
    float: left;
    height: 400px;
    width: 61%; }
    @media (max-width: 979px) {
      /* line 356, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured.has-video .field-name-field-p-featured-image,
      .paragraphs-item-p-featured.has-video .field-name-field-p-featured-video {
        width: 100%; } }
  /* line 368, ../scss/stanford_bean_types_featured.scss */
  .paragraphs-item-p-featured.has-video .field-name-field-p-featured-image {
    display: block; }
    /* line 371, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured.has-video .field-name-field-p-featured-image img {
      height: 400px; }
  /* line 376, ../scss/stanford_bean_types_featured.scss */
  .paragraphs-item-p-featured.has-video .field-name-field-p-featured-video {
    position: relative; }
  /* line 380, ../scss/stanford_bean_types_featured.scss */
  .paragraphs-item-p-featured.has-video .group-overlay-text {
    background: #fff;
    color: #000;
    display: block;
    float: right;
    height: auto;
    margin-left: 61%;
    padding: 4% 6% 0;
    text-align: left;
    top: 4%;
    width: 27%; }
    @media (max-width: 979px) {
      /* line 380, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured.has-video .group-overlay-text {
        float: left;
        margin-left: 0;
        padding: 6%;
        text-align: center;
        width: 88%; } }
    /* line 400, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured.has-video .group-overlay-text .group-headline-h2,
    .paragraphs-item-p-featured.has-video .group-overlay-text .field-name-field-p-featured-superhead {
      color: #000; }
      /* line 404, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured.has-video .group-overlay-text .group-headline-h2 a,
      .paragraphs-item-p-featured.has-video .group-overlay-text .field-name-field-p-featured-superhead a {
        color: #000; }
    /* line 410, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured.has-video .group-overlay-text .field-name-field-p-featured-description .field-item {
      margin: 0; }

/* line 418, ../scss/stanford_bean_types_featured.scss */
.fullwidth .paragraphs-item-p-featured div.group-overlay-text {
  max-height: 100%; }
  @media (max-width: 979px) {
    /* line 418, ../scss/stanford_bean_types_featured.scss */
    .fullwidth .paragraphs-item-p-featured div.group-overlay-text {
      width: auto; } }
  /* line 425, ../scss/stanford_bean_types_featured.scss */
  .fullwidth .paragraphs-item-p-featured div.group-overlay-text a.btn,
  .fullwidth .paragraphs-item-p-featured div.group-overlay-text a.btn-orange,
  .fullwidth .paragraphs-item-p-featured div.group-overlay-text a.btn-pink,
  .fullwidth .paragraphs-item-p-featured div.group-overlay-text a.btn-turquoise {
    margin-top: 42px;
    padding: 0.8em calc(6% - 40px) 0.8em; }
    @media (max-width: 979px) {
      /* line 425, ../scss/stanford_bean_types_featured.scss */
      .fullwidth .paragraphs-item-p-featured div.group-overlay-text a.btn,
      .fullwidth .paragraphs-item-p-featured div.group-overlay-text a.btn-orange,
      .fullwidth .paragraphs-item-p-featured div.group-overlay-text a.btn-pink,
      .fullwidth .paragraphs-item-p-featured div.group-overlay-text a.btn-turquoise {
        padding: 0.8em 1.2em 0.9em; } }
  /* line 437, ../scss/stanford_bean_types_featured.scss */
  .fullwidth .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-description {
    font-size: 22px; }
    @media (max-width: 979px) {
      /* line 437, ../scss/stanford_bean_types_featured.scss */
      .fullwidth .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-description {
        font-size: 20px; } }
    /* line 444, ../scss/stanford_bean_types_featured.scss */
    .fullwidth .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-description .field-item {
      margin: 0 22%; }
      @media (max-width: 979px) {
        /* line 444, ../scss/stanford_bean_types_featured.scss */
        .fullwidth .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-description .field-item {
          padding-bottom: 30px; } }
      @media (max-width: 580px) {
        /* line 444, ../scss/stanford_bean_types_featured.scss */
        .fullwidth .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-description .field-item {
          margin: 0 10%;
          padding-bottom: 30px; } }
/* line 460, ../scss/stanford_bean_types_featured.scss */
.fullwidth .paragraphs-item-p-featured.has-image .group-headline-h2 {
  font-size: 52px;
  margin: 10px 10%;
  width: 80%; }
  @media (max-width: 979px) {
    /* line 460, ../scss/stanford_bean_types_featured.scss */
    .fullwidth .paragraphs-item-p-featured.has-image .group-headline-h2 {
      font-size: 32px; } }
  @media (max-width: 580px) {
    /* line 460, ../scss/stanford_bean_types_featured.scss */
    .fullwidth .paragraphs-item-p-featured.has-image .group-headline-h2 {
      font-size: 26px; } }
/* line 474, ../scss/stanford_bean_types_featured.scss */
.fullwidth .paragraphs-item-p-featured.has-image .field-name-field-p-featured-description {
  font-size: 22px; }
  @media (max-width: 979px) {
    /* line 474, ../scss/stanford_bean_types_featured.scss */
    .fullwidth .paragraphs-item-p-featured.has-image .field-name-field-p-featured-description {
      font-size: 20px; } }
/* line 482, ../scss/stanford_bean_types_featured.scss */
.fullwidth .paragraphs-item-p-featured.has-image .field-name-field-p-featured-more-link {
  margin-top: 0; }
/* line 488, ../scss/stanford_bean_types_featured.scss */
.fullwidth .paragraphs-item-p-featured.has-video div.group-overlay-text {
  margin-top: 0;
  padding: 3% 3% 0; }
  /* line 492, ../scss/stanford_bean_types_featured.scss */
  .fullwidth .paragraphs-item-p-featured.has-video div.group-overlay-text .group-headline-h2 {
    font-size: 32px;
    margin: 30px 0 0;
    width: auto; }
    @media (max-width: 979px) {
      /* line 492, ../scss/stanford_bean_types_featured.scss */
      .fullwidth .paragraphs-item-p-featured.has-video div.group-overlay-text .group-headline-h2 {
        font-size: 32px; } }
  /* line 502, ../scss/stanford_bean_types_featured.scss */
  .fullwidth .paragraphs-item-p-featured.has-video div.group-overlay-text .field-name-field-p-featured-description {
    font-size: 22px; }
    @media (max-width: 979px) {
      /* line 502, ../scss/stanford_bean_types_featured.scss */
      .fullwidth .paragraphs-item-p-featured.has-video div.group-overlay-text .field-name-field-p-featured-description {
        font-size: 20px; } }
  /* line 510, ../scss/stanford_bean_types_featured.scss */
  .fullwidth .paragraphs-item-p-featured.has-video div.group-overlay-text .field-name-field-p-featured-description .field-item {
    margin: 0; }

/* line 517, ../scss/stanford_bean_types_featured.scss */
.entity-paragraphs-item iframe[src*="youtube"], .entity-paragraphs-item iframe[src*="vimeo"] {
  height: 400px; }
