/* line 3, ../scss/stanford_bean_types_featured.scss */
div[class*="featured"] img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: auto; }
/* line 10, ../scss/stanford_bean_types_featured.scss */
div[class*="featured"] a {
  z-index: 20; }
/* line 14, ../scss/stanford_bean_types_featured.scss */
div[class*="featured"] .player {
  padding-bottom: 0;
  height: 100%; }
/* line 19, ../scss/stanford_bean_types_featured.scss */
div[class*="featured"] .entity-paragraphs-item {
  margin-bottom: 0; }

/* line 25, ../scss/stanford_bean_types_featured.scss */
.fullwidth .featured-block {
  margin-left: 0;
  margin-right: 0; }

/* line 30, ../scss/stanford_bean_types_featured.scss */
.featured-block {
  margin-left: 10%;
  margin-right: 10%; }
  @media (max-width: 767px) {
    /* line 30, ../scss/stanford_bean_types_featured.scss */
    .featured-block {
      margin-left: 0;
      margin-right: 0; } }
  /* line 39, ../scss/stanford_bean_types_featured.scss */
  .featured-block.no-margin {
    margin-left: 0;
    margin-right: 0; }

/* line 45, ../scss/stanford_bean_types_featured.scss */
.span6 .featured-block {
  margin-left: 0;
  margin-right: 0; }

/* line 50, ../scss/stanford_bean_types_featured.scss */
.front .block-bean.no-padding.well.featured-block {
  display: inline-block;
  margin: 0;
  width: 100%; }
  /* line 55, ../scss/stanford_bean_types_featured.scss */
  .front .block-bean.no-padding.well.featured-block.top-margin {
    margin-top: 100px; }
  /* line 59, ../scss/stanford_bean_types_featured.scss */
  .front .block-bean.no-padding.well.featured-block.bottom-margin {
    margin-bottom: 100px; }
  /* line 63, ../scss/stanford_bean_types_featured.scss */
  .front .block-bean.no-padding.well.featured-block.span9 {
    width: 74.5%;
    margin-left: 12.75%;
    margin-right: 12.75%; }

/* line 70, ../scss/stanford_bean_types_featured.scss */
.paragraphs-item-p-featured {
  margin-bottom: 0; }
  /* line 73, ../scss/stanford_bean_types_featured.scss */
  .paragraphs-item-p-featured a.play-video {
    display: block;
    font-size: 0;
    color: #ffffff;
    z-index: 3; }
  /* line 80, ../scss/stanford_bean_types_featured.scss */
  .paragraphs-item-p-featured .field-name-field-p-featured-image {
    background: #001933;
    position: relative;
    z-index: 2; }
    /* line 85, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured .field-name-field-p-featured-image img {
      opacity: .3;
      width: 100%;
      height: auto; }
  /* line 92, ../scss/stanford_bean_types_featured.scss */
  .paragraphs-item-p-featured .field-name-field-p-featured-video {
    position: absolute;
    width: 100%;
    height: auto;
    top: -20px;
    z-index: 1; }
  /* line 100, ../scss/stanford_bean_types_featured.scss */
  .paragraphs-item-p-featured div.group-overlay-text {
    background-color: transparent;
    color: #fff;
    display: table;
    float: left;
    height: 100%;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 10%;
    width: 100%;
    z-index: 2; }
    @media (max-width: 979px) {
      /* line 100, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured div.group-overlay-text {
        position: relative;
        width: 100%; } }
    /* line 119, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured div.group-overlay-text > div,
    .paragraphs-item-p-featured div.group-overlay-text > h2 {
      display: table-cell;
      float: left;
      vertical-align: middle;
      width: 100%; }
    /* line 127, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured div.group-overlay-text .group-headline-h2 {
      color: #ffffff;
      line-height: 1.1em;
      margin: 10px 0 0;
      font-size: 32px; }
      @media (max-width: 580px) {
        /* line 127, ../scss/stanford_bean_types_featured.scss */
        .paragraphs-item-p-featured div.group-overlay-text .group-headline-h2 {
          font-size: 24px; } }
      /* line 137, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured div.group-overlay-text .group-headline-h2 a {
        background-color: transparent;
        color: #fff;
        -webkit-text-decoration-color: #00ECE9;
        text-decoration-color: #00ECE9;
        padding: 0;
        box-shadow: none;
        margin: 0; }
        /* line 146, ../scss/stanford_bean_types_featured.scss */
        .paragraphs-item-p-featured div.group-overlay-text .group-headline-h2 a:after {
          content: ''; }
        /* line 150, ../scss/stanford_bean_types_featured.scss */
        .paragraphs-item-p-featured div.group-overlay-text .group-headline-h2 a:hover {
          -webkit-text-decoration-color: white;
          text-decoration-color: white; }
    /* line 157, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-superhead {
      font-size: 18px;
      font-weight: 700; }
      /* line 161, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-superhead a {
        color: #fff;
        text-decoration: underline;
        -webkit-text-decoration-color: #ffbd54;
        text-decoration-color: #ffbd54; }
        /* line 167, ../scss/stanford_bean_types_featured.scss */
        .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-superhead a:hover {
          -webkit-text-decoration-color: white;
          text-decoration-color: white; }
    /* line 174, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-description {
      font-size: 18px;
      line-height: 1.2em;
      margin: 30px 0 0; }
      @media (max-width: 767px) {
        /* line 174, ../scss/stanford_bean_types_featured.scss */
        .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-description {
          margin: 20px 0 20px; } }
      /* line 183, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-description .field-item {
        margin: 0 10%; }
    /* line 188, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-more-link {
      margin-top: 30px; }
      /* line 191, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-more-link a {
        color: #fff;
        text-decoration: underline;
        -webkit-text-decoration-color: #FFBD54;
        text-decoration-color: #FFBD54; }
    /* line 199, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured div.group-overlay-text a.btn-orange,
    .paragraphs-item-p-featured div.group-overlay-text a.btn-pink,
    .paragraphs-item-p-featured div.group-overlay-text a.btn-turquoise {
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      border-radius: 0;
      color: #000;
      display: inline-block;
      font-weight: 400;
      margin: 0 0 26px;
      line-height: 1.2em;
      letter-spacing: 0;
      font-size: 1.9rem;
      padding: 0.8em 1.2em 0.9em;
      text-align: center;
      text-decoration: none; }
      /* line 217, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured div.group-overlay-text a.btn-orange:hover,
      .paragraphs-item-p-featured div.group-overlay-text a.btn-pink:hover,
      .paragraphs-item-p-featured div.group-overlay-text a.btn-turquoise:hover {
        background: #333333;
        color: #fff; }
    /* line 223, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured div.group-overlay-text a.btn {
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      border-radius: 0;
      color: #ffffff;
      font-weight: 400;
      margin: 0 0 26px;
      line-height: 1.2em;
      letter-spacing: 0;
      font-size: 1.9rem;
      padding: 0.8em 1.2em 0.9em;
      text-align: center;
      text-decoration: none; }

/* line 243, ../scss/stanford_bean_types_featured.scss */
.span6 .paragraphs-item-p-featured.has-image .field-name-field-p-featured-image {
  width: 100%; }
/* line 247, ../scss/stanford_bean_types_featured.scss */
.span6 .paragraphs-item-p-featured.has-image .group-overlay-text {
  margin-top: 1%;
  position: relative;
  width: 100%; }
  /* line 252, ../scss/stanford_bean_types_featured.scss */
  .span6 .paragraphs-item-p-featured.has-image .group-overlay-text .field-name-field-p-featured-superhead {
    padding-top: 40px; }
/* line 259, ../scss/stanford_bean_types_featured.scss */
.span6 .paragraphs-item-p-featured.has-video .field-name-field-p-featured-video {
  width: 100%; }
/* line 263, ../scss/stanford_bean_types_featured.scss */
.span6 .paragraphs-item-p-featured.has-video .group-overlay-text {
  margin-top: 1%;
  position: relative;
  width: 100%; }
  /* line 268, ../scss/stanford_bean_types_featured.scss */
  .span6 .paragraphs-item-p-featured.has-video .group-overlay-text .field-name-field-p-featured-superhead {
    padding-top: 40px; }

/* line 276, ../scss/stanford_bean_types_featured.scss */
.paragraphs-item-p-featured.has-image .group-overlay-text {
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media (max-width: 979px) {
    /* line 276, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured.has-image .group-overlay-text {
      left: initial;
      position: relative;
      transform: none; }
      /* line 288, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured.has-image .group-overlay-text .field-name-field-p-featured-superhead {
        padding-top: 20px; }
      /* line 292, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured.has-image .group-overlay-text .group-headline-h2,
      .paragraphs-item-p-featured.has-image .group-overlay-text .field-name-field-p-featured-superhead,
      .paragraphs-item-p-featured.has-image .group-overlay-text .field-name-field-p-featured-description {
        color: #000; }
        /* line 297, ../scss/stanford_bean_types_featured.scss */
        .paragraphs-item-p-featured.has-image .group-overlay-text .group-headline-h2 a,
        .paragraphs-item-p-featured.has-image .group-overlay-text .field-name-field-p-featured-superhead a,
        .paragraphs-item-p-featured.has-image .group-overlay-text .field-name-field-p-featured-description a {
          color: #000; } }

/* line 306, ../scss/stanford_bean_types_featured.scss */
.paragraphs-item-p-featured.has-image.has-video .group-overlay-text {
  background: transparent;
  position: absolute;
  left: 0;
  transform: none; }
  @media (max-width: 979px) {
    /* line 306, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured.has-image.has-video .group-overlay-text {
      margin-top: 1%;
      position: relative;
      width: auto; }
      /* line 317, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-superhead {
        padding-top: 0; } }
  /* line 322, ../scss/stanford_bean_types_featured.scss */
  .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .group-headline-h2,
  .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-superhead,
  .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-description,
  .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-more-link {
    color: #000; }
    /* line 328, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .group-headline-h2 a,
    .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-superhead a,
    .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-description a,
    .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-more-link a {
      color: #000; }
      /* line 331, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .group-headline-h2 a.btn,
      .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-superhead a.btn,
      .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-description a.btn,
      .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-more-link a.btn {
        color: #fff; }

/* line 341, ../scss/stanford_bean_types_featured.scss */
.span6 .paragraphs-item-p-featured.has-image.has-video .field-name-field-p-featured-image,
.span6 .paragraphs-item-p-featured.has-image.has-video .field-name-field-p-featured-video {
  width: 100%; }
/* line 346, ../scss/stanford_bean_types_featured.scss */
.span6 .paragraphs-item-p-featured.has-image.has-video .group-overlay-text {
  background: transparent;
  position: relative;
  width: 100%; }

/* line 354, ../scss/stanford_bean_types_featured.scss */
.paragraphs-item-p-featured.has-video {
  background: #fff; }
  /* line 357, ../scss/stanford_bean_types_featured.scss */
  .paragraphs-item-p-featured.has-video .field-name-field-p-featured-image,
  .paragraphs-item-p-featured.has-video .field-name-field-p-featured-video {
    float: left;
    width: 61%;
    height: 400px; }
    @media (max-width: 979px) {
      /* line 357, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured.has-video .field-name-field-p-featured-image,
      .paragraphs-item-p-featured.has-video .field-name-field-p-featured-video {
        width: 100%; } }
  /* line 369, ../scss/stanford_bean_types_featured.scss */
  .paragraphs-item-p-featured.has-video .field-name-field-p-featured-image {
    display: block; }
    /* line 372, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured.has-video .field-name-field-p-featured-image img {
      height: 400px; }
  /* line 377, ../scss/stanford_bean_types_featured.scss */
  .paragraphs-item-p-featured.has-video .field-name-field-p-featured-video {
    position: relative; }
  /* line 381, ../scss/stanford_bean_types_featured.scss */
  .paragraphs-item-p-featured.has-video .group-overlay-text {
    background: #fff;
    color: #000;
    display: block;
    float: right;
    height: auto;
    width: 27%;
    margin-left: 61%;
    text-align: left;
    top: 4%;
    padding: 4% 6% 0; }
    @media (max-width: 979px) {
      /* line 381, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured.has-video .group-overlay-text {
        float: left;
        margin-left: 0;
        text-align: center;
        width: 88%;
        padding: 6%; } }
    /* line 401, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured.has-video .group-overlay-text .group-headline-h2,
    .paragraphs-item-p-featured.has-video .group-overlay-text .field-name-field-p-featured-superhead {
      color: #000; }
      /* line 405, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured.has-video .group-overlay-text .group-headline-h2 a,
      .paragraphs-item-p-featured.has-video .group-overlay-text .field-name-field-p-featured-superhead a {
        color: #000; }
    /* line 411, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured.has-video .group-overlay-text .field-name-field-p-featured-description .field-item {
      margin: 0; }

/* line 419, ../scss/stanford_bean_types_featured.scss */
.fullwidth .paragraphs-item-p-featured div.group-overlay-text {
  max-height: 100%; }
  @media (max-width: 979px) {
    /* line 419, ../scss/stanford_bean_types_featured.scss */
    .fullwidth .paragraphs-item-p-featured div.group-overlay-text {
      width: auto; } }
  /* line 426, ../scss/stanford_bean_types_featured.scss */
  .fullwidth .paragraphs-item-p-featured div.group-overlay-text a.btn,
  .fullwidth .paragraphs-item-p-featured div.group-overlay-text a.btn-orange,
  .fullwidth .paragraphs-item-p-featured div.group-overlay-text a.btn-pink,
  .fullwidth .paragraphs-item-p-featured div.group-overlay-text a.btn-turquoise {
    margin-top: 42px;
    padding: 0.8em calc(6% - 40px) 0.8em; }
    @media (max-width: 979px) {
      /* line 426, ../scss/stanford_bean_types_featured.scss */
      .fullwidth .paragraphs-item-p-featured div.group-overlay-text a.btn,
      .fullwidth .paragraphs-item-p-featured div.group-overlay-text a.btn-orange,
      .fullwidth .paragraphs-item-p-featured div.group-overlay-text a.btn-pink,
      .fullwidth .paragraphs-item-p-featured div.group-overlay-text a.btn-turquoise {
        padding: 0.8em 1.2em 0.9em; } }
  /* line 438, ../scss/stanford_bean_types_featured.scss */
  .fullwidth .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-description {
    font-size: 22px; }
    /* line 441, ../scss/stanford_bean_types_featured.scss */
    .fullwidth .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-description .field-item {
      margin: 0 22%; }
/* line 448, ../scss/stanford_bean_types_featured.scss */
.fullwidth .paragraphs-item-p-featured.has-image .group-headline-h2 {
  font-size: 52px;
  margin: 10px 10%;
  width: 80%; }
  @media (max-width: 979px) {
    /* line 448, ../scss/stanford_bean_types_featured.scss */
    .fullwidth .paragraphs-item-p-featured.has-image .group-headline-h2 {
      font-size: 32px; } }
/* line 458, ../scss/stanford_bean_types_featured.scss */
.fullwidth .paragraphs-item-p-featured.has-image .field-name-field-p-featured-description {
  font-size: 22px; }
/* line 462, ../scss/stanford_bean_types_featured.scss */
.fullwidth .paragraphs-item-p-featured.has-image .field-name-field-p-featured-more-link {
  margin-top: 0; }
/* line 468, ../scss/stanford_bean_types_featured.scss */
.fullwidth .paragraphs-item-p-featured.has-video div.group-overlay-text {
  margin-top: 0; }
  /* line 471, ../scss/stanford_bean_types_featured.scss */
  .fullwidth .paragraphs-item-p-featured.has-video div.group-overlay-text .group-headline-h2 {
    font-size: 52px;
    margin-top: 10px; }
    @media (max-width: 979px) {
      /* line 471, ../scss/stanford_bean_types_featured.scss */
      .fullwidth .paragraphs-item-p-featured.has-video div.group-overlay-text .group-headline-h2 {
        font-size: 32px; } }
  /* line 480, ../scss/stanford_bean_types_featured.scss */
  .fullwidth .paragraphs-item-p-featured.has-video div.group-overlay-text .field-name-field-p-featured-description {
    font-size: 22px; }
  /* line 484, ../scss/stanford_bean_types_featured.scss */
  .fullwidth .paragraphs-item-p-featured.has-video div.group-overlay-text .field-name-field-p-featured-description .field-item {
    margin: 0; }

/* line 491, ../scss/stanford_bean_types_featured.scss */
.entity-paragraphs-item iframe[src*="youtube"], .entity-paragraphs-item iframe[src*="vimeo"] {
  height: 400px; }
