/* line 3, ../scss/stanford_bean_types_featured.scss */
div[class*="featured"] img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: auto; }
/* line 10, ../scss/stanford_bean_types_featured.scss */
div[class*="featured"] a {
  z-index: 20; }
/* line 14, ../scss/stanford_bean_types_featured.scss */
div[class*="featured"] .player {
  padding-bottom: 0;
  height: 100%; }
/* line 19, ../scss/stanford_bean_types_featured.scss */
div[class*="featured"] .entity-paragraphs-item {
  margin-bottom: 0; }

/* line 25, ../scss/stanford_bean_types_featured.scss */
.fullwidth .featured-block {
  margin-left: 0;
  margin-right: 0; }

/* line 30, ../scss/stanford_bean_types_featured.scss */
.featured-block {
  margin-left: 10%;
  margin-right: 10%; }
  @media (max-width: 767px) {
    /* line 30, ../scss/stanford_bean_types_featured.scss */
    .featured-block {
      margin-left: 0;
      margin-right: 0; } }
  /* line 39, ../scss/stanford_bean_types_featured.scss */
  .featured-block.no-margin {
    margin-left: 0;
    margin-right: 0; }

/* line 45, ../scss/stanford_bean_types_featured.scss */
.span6 .featured-block {
  margin-left: 0;
  margin-right: 0; }

/* line 50, ../scss/stanford_bean_types_featured.scss */
.front .block-bean.no-padding.well.featured-block {
  display: inline-block;
  margin: 0;
  width: 100%; }
  /* line 55, ../scss/stanford_bean_types_featured.scss */
  .front .block-bean.no-padding.well.featured-block.top-margin {
    margin-top: 100px; }
  /* line 59, ../scss/stanford_bean_types_featured.scss */
  .front .block-bean.no-padding.well.featured-block.bottom-margin {
    margin-bottom: 100px; }
  /* line 63, ../scss/stanford_bean_types_featured.scss */
  .front .block-bean.no-padding.well.featured-block.span9 {
    width: 74.5%;
    margin-left: 12.75%;
    margin-right: 12.75%; }

/* line 70, ../scss/stanford_bean_types_featured.scss */
.paragraphs-item-p-featured.btn-orange .btn {
  background: #ffbd54;
  color: #fff; }
  /* line 74, ../scss/stanford_bean_types_featured.scss */
  .paragraphs-item-p-featured.btn-orange .btn:hover {
    background: #333333; }

/* line 79, ../scss/stanford_bean_types_featured.scss */
.paragraphs-item-p-featured {
  margin-bottom: 0; }
  /* line 82, ../scss/stanford_bean_types_featured.scss */
  .paragraphs-item-p-featured a.play-video {
    display: block;
    font-size: 0;
    color: #ffffff;
    z-index: 3; }
  /* line 89, ../scss/stanford_bean_types_featured.scss */
  .paragraphs-item-p-featured .field-name-field-p-featured-image {
    background: #001933;
    position: relative;
    z-index: 2; }
    /* line 94, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured .field-name-field-p-featured-image img {
      opacity: .3;
      width: 100%;
      height: auto; }
  /* line 101, ../scss/stanford_bean_types_featured.scss */
  .paragraphs-item-p-featured .field-name-field-p-featured-video {
    position: absolute;
    width: 100%;
    height: auto;
    top: -20px;
    z-index: 1; }
  /* line 109, ../scss/stanford_bean_types_featured.scss */
  .paragraphs-item-p-featured div.group-overlay-text {
    background-color: transparent;
    color: #fff;
    display: table;
    float: left;
    height: 100%;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 10%;
    width: 100%;
    z-index: 2; }
    @media (max-width: 979px) {
      /* line 109, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured div.group-overlay-text {
        position: relative;
        width: 100%; } }
    /* line 128, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured div.group-overlay-text > div,
    .paragraphs-item-p-featured div.group-overlay-text > h2 {
      display: table-cell;
      float: left;
      vertical-align: middle;
      width: 100%; }
    /* line 136, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured div.group-overlay-text .group-headline-h2 {
      color: #ffffff;
      margin: 10px 0 0;
      font-size: 32px; }
      @media (max-width: 580px) {
        /* line 136, ../scss/stanford_bean_types_featured.scss */
        .paragraphs-item-p-featured div.group-overlay-text .group-headline-h2 {
          font-size: 24px; } }
      /* line 145, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured div.group-overlay-text .group-headline-h2 a {
        background-color: transparent;
        color: #fff;
        -webkit-text-decoration-color: #00ECE9;
        text-decoration-color: #00ECE9;
        padding: 0;
        box-shadow: none;
        margin: 0; }
        /* line 154, ../scss/stanford_bean_types_featured.scss */
        .paragraphs-item-p-featured div.group-overlay-text .group-headline-h2 a:after {
          content: ''; }
    /* line 160, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-superhead {
      font-size: 18px;
      font-weight: 700; }
      /* line 164, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-superhead a {
        color: #fff;
        text-decoration: underline;
        -webkit-text-decoration-color: #ffbd54;
        text-decoration-color: #ffbd54; }
    /* line 172, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-description {
      font-size: 18px;
      line-height: 1.2em;
      margin: 30px 0 40px; }
      /* line 177, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-description .field-item {
        margin: 0 10%; }
    /* line 183, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-more-link a {
      color: #fff;
      text-decoration: underline;
      -webkit-text-decoration-color: #FFBD54;
      text-decoration-color: #FFBD54; }
    /* line 191, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured div.group-overlay-text a.btn-orange,
    .paragraphs-item-p-featured div.group-overlay-text a.btn-pink,
    .paragraphs-item-p-featured div.group-overlay-text a.btn-turquoise {
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      border-radius: 0;
      color: #000;
      display: inline-block;
      font-weight: 400;
      margin: 0 0 26px;
      line-height: 1.2em;
      letter-spacing: 0;
      font-size: 1.9rem;
      padding: 0.8em 1.2em 0.9em;
      text-align: center;
      text-decoration: none; }
      /* line 209, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured div.group-overlay-text a.btn-orange:hover,
      .paragraphs-item-p-featured div.group-overlay-text a.btn-pink:hover,
      .paragraphs-item-p-featured div.group-overlay-text a.btn-turquoise:hover {
        background: #333333;
        color: #fff; }
    /* line 215, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured div.group-overlay-text a.btn {
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      border-radius: 0;
      color: #ffffff;
      font-weight: 400;
      margin: 0 0 26px;
      line-height: 1.2em;
      letter-spacing: 0;
      font-size: 1.9rem;
      padding: 0.8em 1.2em 0.9em;
      text-align: center;
      text-decoration: none; }

/* line 235, ../scss/stanford_bean_types_featured.scss */
.span6 .paragraphs-item-p-featured.has-image .field-name-field-p-featured-image {
  width: 100%; }
/* line 239, ../scss/stanford_bean_types_featured.scss */
.span6 .paragraphs-item-p-featured.has-image .group-overlay-text {
  margin-top: 1%;
  position: relative;
  width: 100%; }
  /* line 244, ../scss/stanford_bean_types_featured.scss */
  .span6 .paragraphs-item-p-featured.has-image .group-overlay-text .field-name-field-p-featured-superhead {
    padding-top: 40px; }
/* line 251, ../scss/stanford_bean_types_featured.scss */
.span6 .paragraphs-item-p-featured.has-video .field-name-field-p-featured-video {
  width: 100%; }
/* line 255, ../scss/stanford_bean_types_featured.scss */
.span6 .paragraphs-item-p-featured.has-video .group-overlay-text {
  margin-top: 1%;
  position: relative;
  width: 100%; }
  /* line 260, ../scss/stanford_bean_types_featured.scss */
  .span6 .paragraphs-item-p-featured.has-video .group-overlay-text .field-name-field-p-featured-superhead {
    padding-top: 40px; }

/* line 268, ../scss/stanford_bean_types_featured.scss */
.paragraphs-item-p-featured.has-image .group-overlay-text {
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media (max-width: 979px) {
    /* line 268, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured.has-image .group-overlay-text {
      position: absolute; }
      /* line 278, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured.has-image .group-overlay-text .field-name-field-p-featured-superhead {
        padding-top: 20px; } }

/* line 286, ../scss/stanford_bean_types_featured.scss */
.paragraphs-item-p-featured.has-image.has-video .group-overlay-text {
  background: transparent;
  position: absolute;
  left: 0;
  transform: none; }
  @media (max-width: 979px) {
    /* line 286, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured.has-image.has-video .group-overlay-text {
      margin-top: 1%;
      position: relative;
      width: auto; }
      /* line 297, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-superhead {
        padding-top: 40px; } }
  /* line 302, ../scss/stanford_bean_types_featured.scss */
  .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .group-headline-h2,
  .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-superhead,
  .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-description,
  .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-more-link {
    color: #000; }
    /* line 308, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .group-headline-h2 a,
    .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-superhead a,
    .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-description a,
    .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-more-link a {
      color: #000; }
      /* line 311, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .group-headline-h2 a.btn,
      .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-superhead a.btn,
      .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-description a.btn,
      .paragraphs-item-p-featured.has-image.has-video .group-overlay-text .field-name-field-p-featured-more-link a.btn {
        color: #fff; }

/* line 321, ../scss/stanford_bean_types_featured.scss */
.span6 .paragraphs-item-p-featured.has-image.has-video .field-name-field-p-featured-image,
.span6 .paragraphs-item-p-featured.has-image.has-video .field-name-field-p-featured-video {
  width: 100%; }
/* line 326, ../scss/stanford_bean_types_featured.scss */
.span6 .paragraphs-item-p-featured.has-image.has-video .group-overlay-text {
  background: transparent;
  position: relative;
  width: 100%; }

/* line 334, ../scss/stanford_bean_types_featured.scss */
.paragraphs-item-p-featured.has-video {
  background: #fff; }
  /* line 337, ../scss/stanford_bean_types_featured.scss */
  .paragraphs-item-p-featured.has-video .field-name-field-p-featured-image,
  .paragraphs-item-p-featured.has-video .field-name-field-p-featured-video {
    float: left;
    width: 61%;
    height: 400px; }
    @media (max-width: 979px) {
      /* line 337, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured.has-video .field-name-field-p-featured-image,
      .paragraphs-item-p-featured.has-video .field-name-field-p-featured-video {
        width: 100%; } }
  /* line 349, ../scss/stanford_bean_types_featured.scss */
  .paragraphs-item-p-featured.has-video .field-name-field-p-featured-image {
    display: block; }
    /* line 352, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured.has-video .field-name-field-p-featured-image img {
      height: 400px; }
  /* line 357, ../scss/stanford_bean_types_featured.scss */
  .paragraphs-item-p-featured.has-video .field-name-field-p-featured-video {
    position: relative; }
  /* line 361, ../scss/stanford_bean_types_featured.scss */
  .paragraphs-item-p-featured.has-video .group-overlay-text {
    background: #fff;
    color: #000;
    display: block;
    float: right;
    height: auto;
    width: 31%;
    margin-left: 61%;
    text-align: left;
    top: 4%;
    padding: 4%; }
    @media (max-width: 979px) {
      /* line 361, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured.has-video .group-overlay-text {
        float: left;
        margin-left: 0;
        text-align: center;
        width: 94%; } }
    /* line 380, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured.has-video .group-overlay-text .group-headline-h2,
    .paragraphs-item-p-featured.has-video .group-overlay-text .field-name-field-p-featured-superhead {
      color: #000; }
      /* line 384, ../scss/stanford_bean_types_featured.scss */
      .paragraphs-item-p-featured.has-video .group-overlay-text .group-headline-h2 a,
      .paragraphs-item-p-featured.has-video .group-overlay-text .field-name-field-p-featured-superhead a {
        color: #000; }
    /* line 390, ../scss/stanford_bean_types_featured.scss */
    .paragraphs-item-p-featured.has-video .group-overlay-text .field-name-field-p-featured-description .field-item {
      margin: 0; }

/* line 398, ../scss/stanford_bean_types_featured.scss */
.fullwidth .paragraphs-item-p-featured div.group-overlay-text {
  max-height: 100%; }
  @media (max-width: 979px) {
    /* line 398, ../scss/stanford_bean_types_featured.scss */
    .fullwidth .paragraphs-item-p-featured div.group-overlay-text {
      margin-top: 1%;
      margin-bottom: 3%;
      width: auto; } }
  /* line 407, ../scss/stanford_bean_types_featured.scss */
  .fullwidth .paragraphs-item-p-featured div.group-overlay-text a.btn,
  .fullwidth .paragraphs-item-p-featured div.group-overlay-text a.btn-orange,
  .fullwidth .paragraphs-item-p-featured div.group-overlay-text a.btn-pink,
  .fullwidth .paragraphs-item-p-featured div.group-overlay-text a.btn-turquoise {
    padding: 0.8em calc(6% - 40px) 0.8em; }
  /* line 414, ../scss/stanford_bean_types_featured.scss */
  .fullwidth .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-description {
    font-size: 20px; }
    /* line 417, ../scss/stanford_bean_types_featured.scss */
    .fullwidth .paragraphs-item-p-featured div.group-overlay-text .field-name-field-p-featured-description .field-item {
      margin: 0 10%; }
/* line 424, ../scss/stanford_bean_types_featured.scss */
.fullwidth .paragraphs-item-p-featured.has-video div.group-overlay-text {
  margin-top: 0; }
  /* line 427, ../scss/stanford_bean_types_featured.scss */
  .fullwidth .paragraphs-item-p-featured.has-video div.group-overlay-text .field-name-field-p-featured-description .field-item {
    margin: 0; }

/* line 434, ../scss/stanford_bean_types_featured.scss */
.entity-paragraphs-item iframe[src*="youtube"], .entity-paragraphs-item iframe[src*="vimeo"] {
  height: 400px; }
