div[class*="featured"]:not([class*="reveal"]) {

  img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: auto;
  }

  a {
    z-index: 20;
  }

  .player {
    padding-bottom: 0;
    height: 100%;
  }

  .entity-paragraphs-item {
    margin-bottom: 0;
  }

}

.paragraphs-item-p-featured {
  margin-bottom: 0;

  a.play-video {
    display: block;
    font-size: 0;
    color: #ffffff;
    z-index: 3;
  }

  .field-name-field-p-featured-image {
    background: #011429;
    position: relative;
    z-index: 2;

    img {
      opacity: .4;
      width: 100%;
      height: auto;
    }
  }

  .field-name-field-p-featured-video {
    position: absolute;
    width: 100%;
    height: auto;
    top: -20px;
    z-index: 1;
  }

  div.group-overlay-text {
    background-color: transparent;
    color: #fff;
    display: table;
    float: left;
    height: 100%;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 5%;
    width: 100%;
    z-index: 2;

    > div,
    > h2 {
      display: table-cell;
      float: left;
      vertical-align: middle;
      width: 100%;
    }

    .group-headline-h2 {
      color: #ffffff;
      margin: 20px 0 40px;

      a {
        background-color: transparent;
        color: #fff;
        padding: 0;
        box-shadow: none;
        margin: 0;

        &:after {
          content: '';
        }

        &:hover {
          -webkit-text-decoration-color: #00ECE9;
          text-decoration-color: #00ECE9;
        }
      }
    }

    .field-name-field-p-featured-superhead {
      font-size: 1.2em;
      font-weight: 600;

      a {
        color: #fff;
        text-decoration: underline;

        &:hover {
          -webkit-text-decoration-color: #ffbd54;
          text-decoration-color: #ffbd54;
        }
      }
    }

    .field-name-field-p-featured-description {
      font-size: 1.2em;
      line-height: 1.2em;
      margin: 0 0 40px;

      .field-items {
        margin: 0 10%;
      }

      @media (max-width: 1200px) and (min-width: 979px) {
        margin: 0 0 40px;
      }
    }

    .field-name-field-p-featured-description {
      font-size: 1.2em;
      line-height: 1.2em;

      @media (max-width: 1200px) and (min-width: 979px) {
        margin: 0 0 40px;
      }
    }

    .btn,
    .btn-orange,
    .btn-pink,
    .btn-turquoise {
      color: #000000;
      font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 1.2em;
      font-weight: 400;
      padding: .8em calc(15% - 40px) .8em;
      text-align: center;

      &:hover {
        color: #ffffff;
      }
    }

    .btn {
      color: #ffffff;
    }
  }
}

.fullwidth .paragraphs-item-p-featured {
  div.group-overlay-text {
    top: 30%;
  }
}

//.bean-stanford-featured-block {
//  float: left;
//  margin-bottom: 5%;
//  height: auto;
//  width: 100%;
//
//  .field-name-field-p-featured-image {
//    float: left;
//    position: relative;
//    width: 100%;
//    height: auto;
//
//    img {
//      height: auto;
//    }
//  }
//
//  .field-name-field-p-featured-video {
//    float: left;
//    position: relative;
//    width: 65%;
//    height: auto;
//  }
//
//  .group-overlay-text {
//    float: right;
//    position: relative;
//    width: auto;
//    height: auto;
//    top: 0;
//
//    .btn {
//      font-size: 1.9rem;
//    }
//
//    .field-name-field-p-featured-headline {
//      color: #000000;
//      font-size: .9em;
//    }
//
//    .field-name-field-p-featured-description {
//      color: #000000;
//      font-size: .8em;
//      margin: 0 calc(10% - 30px) 30px;
//      padding: 0 1%;
//    }
//
//    .field-name-field-p-featured-superhead {
//      margin-top: 20px;
//
//      a {
//        color: #000000;
//        margin-top: 20px;
//      }
//    }
//
//    .group-headline-h2 {
//      margin: 5% 20%;
//    }
//  }
//
//  .featured-curtain .entity {
//    background: #ffffff;
//    height: auto;
//  }
//}

.no-margin {
  .bean-stanford-featured-block {
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
    height: auto;

    .field-name-field-p-featured-image {
      float: left;
      position: relative;
      width: 65%;
      height: auto;

      img {
        height: 350px;
      }
    }

    .field-name-field-p-featured-video {
      float: left;
      position: absolute;
      width: 65%;
      height: auto;
    }

    .group-overlay-text {
      float: right;
      position: relative;
      width: auto;
      height: auto;
      top: 0;

      .btn {
        font-size: 1.9rem;
      }

      .field-name-field-p-featured-headline {
        color: #000000;
        font-size: .9em;
      }

      .field-name-field-p-featured-description {
        color: #000000;
        font-size: .8em;
        margin: 0 calc(10% - 30px) 30px;
        padding: 0 1%;
      }

      .field-name-field-p-featured-superhead {
        margin-top: 40px;

        a {
          color: #000000;
          margin-top: 20px;
        }
      }

      .group-headline-h2 {
        margin: 5% 20%;
      }
    }

    .featured-curtain .entity {
      background: #ffffff;
      height: auto;
    }
  }
}

.entity-paragraphs-item iframe[src*="youtube"], .entity-paragraphs-item iframe[src*="vimeo"] {
  height: 350px;
}